[submodule ".make"]
	path = .make
	url = https://gitlab.com/ska-telescope/sdi/ska-cicd-makefile.git
[submodule ".pst"]
	path = .pst
	url = https://gitlab.com/ska-telescope/pst/ska-pst-makefiles.git
	branch = main
