HDR_SIZE            4096
HDR_VERSION         1.0
TELESCOPE           {{ telescope }}
RECEIVER            LFAA
INSTRUMENT          LowCBF
NBIT                {{ nbits }}
NANT                {{ nant }}
NPOL                {{ npol }}
NDIM                {{ ndim }}
TSAMP               {{ tsamp }}
BAND                {{ band }}
WT_NSAMP            {{ wt_nsamp }}
UDP_NSAMP           {{ udp_nsamp }}
UDP_NCHAN           {{ udp_nchan }}
NCHAN               {{ nchan }}
FREQ                {{ frequency }}
BW                  {{ bandwidth }}
START_CHANNEL       {{ start_channel }}
END_CHANNEL         {{ end_channel }}
RESOLUTION          {{ resolution }}
BYTES_PER_SECOND    {{ bytes_per_second }}
DATA_HOST           {{ data_host }}
DATA_PORT           {{ data_port }}
LOCAL_HOST          {{ local_host }}
CALFREQ             11.1111111111
OBS_OFFSET          0
SOURCE              {{ source }}
DATA_KEY            {{ data_key }}
WEIGHTS_KEY         {{ weights_key }}
UDP_FORMAT          {{ udp_format }}
NUMA_NODE           0
HB_NBUFS            {{ hb_nbufs }}
HB_BUFSZ            {{ hb_bufsz }}
DB_NBUFS            {{ db_nbufs }}
DB_BUFSZ            {{ db_bufsz }}
WB_NBUFS            {{ wb_nbufs }}
WB_BUFSZ            {{ wb_bufsz }}
SCANLEN_MAX         {{ scanlen_max }}
OS_FACTOR           {{ ovrsamp }}
SCAN_ID             {{ scan_id }}
BEAM_ID             {{ beam_id }}
DATA_GENERATOR      {{ data_generator }}
SINUSOID_FREQ       {{ sinusoid_freq }}